@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

body {
	font-family: "Slabo 27px", serif;
	font-size: 20px;
	color: white;
}

.box-atas {
	display: flex;
	margin: 25px 10px;
}
.red {
	height: 100px;
	width: 100px;
	background-color: red;
	padding: 20px;
	text-align: center;
}

.blue {
	height: 100px;
	width: 100px;
	background-color: blue;
	padding: 20px;
	text-align: center;
	margin-left: 60px;
}

.green {
	height: 350px;
	width: 350px;
	background-color: green;
	text-align: center;
	border-radius: 20px;
}